<div class="container mt-sm">
  <h2 class="title-lg">
    <%= @questions.count %>
    <%= inclination(@questions.count, 'вопрос', 'вопроса', 'вопросов') %>
  </h2>
</div>

<% @questions.each do |question| %>
  <% div_class = question.hidden? ? 'translucent' : '' %>
  <div class='mt-sm container <%= div_class %>'>
    <%= render question %>
  </div>
<% end %>
