<div class="container text-center">
  <p class="title-sm text-grey">
    Этому пользователю ещё не задавали вопросов
  </p>

  <div class="mt-lg mb-lg">
    <%= image_tag("fail.png", :alt => "search question") %>
  </div>

  <%= link_to "Спросить", new_question_path(user_id: user),
    class: 'button button-yellow' %>
</div>
