<div class="mt-sm container">
  <h2 class="title-lg">
    Хештег <%= content_tag :span, "##{@hashtag.text}", class: 'text-red text-bold' %>
  </h2>
</div>

<% @questions.each do |question| %>
    <div class="mt-sm container">
      <%= render question %>
    </div>
<% end %>
